---
layout: default
section_id: portfolio
---

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'>Our Works</h2>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='two spacing'></div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
            <div class='slide'>
              <img alt="{{image.desc}}" src="{{image.url | absolute_url }}" />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3>{{page.title}}</h3>
      {{content}}
      <div class='spacing'></div>
      {% if page.cta %}<a class='button small' href='{{page.cta.url}}' target="_blank">{{page.cta.title}}</a>{% endif %}
    </div>
    <div class='large-4 columns'>
      <ul class='info'>
        <li>
          <strong>Description:</strong>
          {{page.desc}}
        </li>
        <li>
          <strong>Date:</strong>
          {{page.date}}
        </li>
        <li>
          <div class='spacing'></div>
          <a href='' title='previous'>
            <i class='icon-left-open'></i>
          </a>
          <a href='portfolio.html' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
          <a href='' title='next'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
